
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

body{
    margin: 0;
    font-family: 'Dosis', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    background: #fed656;
    padding: 9px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0 #000;
}

.header{
    display: flex;
    place-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.input{
    background: #fff;
    border-radius: 10px;
    text-align: end;
    height: 120px;
    padding: 20px 10px 0 10px;
    width: 240px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2) inset;
    line-height: 10px;
}

.two{
    font-size: 50px;
}

.button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0;
}

button{
    padding: 20px;
    margin: 5px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: #fed656;
    box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.5), 1px 1px 1px rgb(255, 255, 255, 0.3) inset;
}

.equal{
    grid-row: 4/6;
    grid-column: 4/5;
}

.mage{
    width: 10px;
}